/* General */
*{
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

body{
     background-color: rgb (249, 251, 253);
     color: rgb(56, 73, 85);
}
h1{
    text-align: center;
}
header{
    padding: 20px;
}
h2{
    text-align: left;
    padding: 20px;
    border-bottom: 3px solid #ddd;
}
.container{
    max-width: 960px;
    background-color: rgb(253, 253, 253);
    margin: auto;
    border-radius: 20px;
}

/* Main Content */
/* Styleing for outside of content */
.content{
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30px;
}
/* Area of where the Password is generated */
#password{
    height: 240px;
    width: 80%;
}
/* text area border, font, justificaiton */
textarea{
    display: flex;
    margin: auto;
    font-size: 16px;
    border-style: dashed;
}

/* Buttons */
.buttonGrid{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-top: 3px solid #ddd;
    padding: 20px;
}

#generate{
    background-color: rgb(189, 0, 0);
    width: 40%;
    height: 50px;
    border-radius: 40px;
    color: white;
    font-weight: bold;
    font-size: 20px; 
}

#copy{
    background-color: rgb(134, 139, 146);
    width: 40%;
    height: 50px;
    border-radius: 40px;
    color: white;
    font-weight: bold;
    font-size: 20px; 
}